main {
    display: flex;
    justify-content: center;
    align-items: center;
    >section {
        display: flex;
        flex-direction: column;
        background-color: white;
        width: 400px;
        height: 400px;
        >div {
            display: flex;
            align-items: center;
            justify-content: center;
            height: 75px;
            >img {
                position: relative;
                right: 225px;
                height: 32px;
            }
            >h2 {
                display: flex;
                justify-content: center;
            }
        }
        >table {
            display: flex;
            flex-direction: column;
            gap: 12px;
            margin-left: 12px;
            >tr {
                display: flex;
                justify-content: space-around;
                >td:first-child {
                    font-size: 18px;
                    font-weight: bold;
                }
            }
        }
    }
}